{
    "extends" : "hjh",
    "plugins": ["use-strict"],
    "parserOptions": {
        "ecmaVersion": "latest"
    },
    "rules" : {
        "use-strict/use-strict-at-top-of-document": "error"
    },
    "overrides": [
        {
            "files": "./test/unit/**/*.js",
            "plugins": ["jest"],
            "env": {
                "jest/globals": true
            }
        }
    ]
}
