{
    "extends" : "hjh",
    "parserOptions": {
        "ecmaVersion": "latest"
    },
    "overrides": [
        {
            "files": "./test/unit/**/*.js",
            "plugins": ["jest"],
            "env": {
                "jest/globals": true
            }
        }
    ]
}
