{
    "extends" : "hjh",
    "plugins": ["use-strict"],
    "parserOptions": {
        "ecmaVersion": 2020
    },
    "env": {
        "browser": true
    },
    "rules" : {
        "use-strict/use-strict-at-top-of-document": "error"
    },
    "overrides": [
        {
            "files": "./test/**/*.js",
            "parserOptions": {
                "sourceType": "module"
            },
            "env": {
                "node": true
            },
            "rules": {
                "use-strict/use-strict-at-top-of-document": "off"
            }
        }
    ]
}
