:root {
    --main-bg-color: #38405F;
    --snek: #44633F;
    --logo: #D19C1D;
    --grid: #DAF0EE;
    --fud: #CC76A1;

    --cell-width: 17px;

    font-size: 16px;
}

* {
    box-sizing: border-box;
}

html {
    background-color: var(--main-bg-color);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    font-family: "Georgia";
    font-size: 4rem;
    color: var(--logo);
}

.board {
    display: flex;
    position: relative;
    border: 1px solid var(--grid);
}

.cell {
    width: var(--cell-width);
    height: var(--cell-width);
    position: absolute;
    border-radius: 50%;
}
.cell[data-type=fud] {
    background-color : var(--fud);
}
